// color
$pink: #FFDDFA;
$yellow: #F0D950;
$water-blue: #96E2FF;
$sky-blue: #F5FBFC;
$blue: #0047DE;
$blue-border: #7B9DFC;
$black: #151515;
$black-menu: #000;
$green-bg: #7EE670;
$green-font: #4FE95E;
$ltd-exp:#FFDBFC;
$jr-train:#96E2FF;
$white: #FFFFFF;
$shitetsu:#F5D823;
$wrapping:#9EEFA5;
$gray: #595353;
$light-gray:#E8E8E8;