@use "../common/variable" as var;


// l-content
.l-top-content {
  }
  // PCサイズ
  @media screen and (max-width:1100px) {
    .l-top-content {
    }
  }

// ようこそ
.p-welcome {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //　間隔制御
    width: calc(84% - 40px);
    margin-bottom: 100px;
    margin-left: auto;

    &__inner {
        margin-left: 80px;
    }
    &__greeting {
        color: var.$black;
        font-size: 17px;
        font-weight: bold;
        line-height: 31px;
        text-align: center;
    }
    &__text {
        margin-top: 40px;
        color: var.$black;
        font-size: 17px;
        line-height: 50px;
    }
    &__name {
        margin-top: 31px;
        color: var.$black;
        font-size: 17px;
        text-align: right;

    }

}
// PCサイズ
@media screen and (max-width:1100px) {
    // ようこそ
    .p-welcome {
        //　間隔制御
        width: calc(100% - 40px);
    
    }
}
// tbサイズ
@media screen and (max-width:920px) {
    // ようこそ
    .p-welcome {
    
        &__inner {
            margin-left: 6%;
        }
        &__greeting {
            color: var.$black;
            font-size: 17px;
            font-weight: bold;
            line-height: 31px;
            text-align: center;
        }
        &__text {
            margin-top: 40px;
            color: var.$black;
            font-size: 17px;
            line-height: 25px;
        }
        &__name {
            margin-top: 31px;
            color: var.$black;
            font-size: 17px;
            text-align: right;
    
        }
    
    }

}
// spサイズ
@media screen and (max-width:600px) {
    // ようこそ
    .p-welcome {
        width: calc(100% - 22px);
        margin: 0 auto;
    
        &__inner {
            margin-left: 3%;
        }
        &__greeting {
            font-size: 16px;
        }
        &__text {
            margin-top: 10px;
            font-size: 15px;
            line-height: 34px;
        }
        &__name {
            margin-top: 20px;
            font-size: 15px;
    
        }
    
    }
}

// おススメ
.p-pickup {
    
&__bg{
    padding: 150px 0 0px 0;
    width: 100%;
    height: 100%;
    // 背景色
    background-image: url(../img/pickup-color.png);
    background-repeat: no-repeat;
    background-size: cover;

}

&__inner{
    width: calc(84% - 40px);
    margin-left: auto;
    padding-bottom: 20px;
}
&__contents {
    margin-right: 5%;
    margin-bottom: 50px;
    // flex-box
    display: flex;
    justify-content: right;
    align-items: center;
}
&__content {
    width: 310px;
    height: max-content;
    margin-right: 10%;
}
&__img {
    margin-bottom: 10px;
    img{
        border-radius: 24px;
        border: solid 2px var.$blue-border;
    }
}
&__ticket {
    width: 310px;
    height: 148px;
    position: relative;
    background-image: url(../img/pickup-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
&__title {
    color: var.$black;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}
&__arrow {
    width: 140px;
    height: 48px;
    margin: 11px auto 0;
    
}
&__date {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    // 文字
    color: var.$black;
    font-size: 20px;
    // 縦書き
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

&__more {
    position: relative;
    width: 303px;
    height: 59px;
    margin: 0 auto;
    // border
    border: dotted 1px var.$black;
    border-radius: 0 0 26px 0;
    background-color: var.$yellow;

    span{
        color: var.$blue;
        font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

    }

}
&__more:hover {
    opacity: 0.7;
}
}

// PCサイズ
@media screen and (max-width:1100px) {
    // おススメ
    .p-pickup {
    
    &__inner{
        width: calc(100% - 22px);
        margin: 0 auto 0;
        padding-bottom: 20px;
        // flex-box
        justify-content: center;
    }
    &__contents {
        margin: 0 auto 20px;
        justify-content: center;
    }
    &__content {
        margin-right: 2%;
    }
    }
}
// spサイズ
@media screen and (max-width:600px) {
    // おススメ
    .p-pickup {
    &__bg{
        padding: 100px 0 0px 0;
    
    }
    &__inner{
        width: calc(100% - 22px);
        margin-left: 0;
        padding-bottom: 20px;
    }
    &__contents {
        margin: 0 auto 20px;
    }
    &__content {
        margin-bottom: 20px;
        margin-right: 4%;
        justify-content: right;
    }
    &__title {
        font-size: 18px;
    }
    &__date {
        // 文字
        font-size: 18px;
    }
    
    &__more {
        width: 213px;
        height: 41px;
        span{
            font-size: 15px;
    
        }
    }
    &__more:hover {
        opacity: 0.7;
    }
    }
}

// 新着情報
.p-news {
    margin-right: 7%;
    padding: 100px 0;
    &__inner{
        // flex-box
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    &__up,
    &__down{
        // flex-box
        display: flex;
        justify-content: right;
        align-items: center;
    }
    &__bg {
        margin-left: 5%;
        padding: 25px 55px 25px;
        background-color: var.$light-gray;
    }
    &__content {
        padding: 20px 30px;
        background-color: var.$gray;

    }
    &__list {
        margin-bottom: 20px;
        a{
            // flex-box
            display: flex;
            justify-content: right;
            align-items: center;
        }

    }
    &__list:last-child{
        margin-bottom: 0;
    }
    &__number {
        width: 51px;
        height: 51px;
        margin-right: 25px;
        border-radius: 50%;
        background-color: var.$green-bg;
        position: relative;
        span{
            // 文字
            color: var.$white;
            font-size: 26px;
            // 真ん中
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }
    &__date {
        // 文字
        color: var.$green-font;
        font-size: 26px;
        margin-right: 30px;

    }
    &__category {
        // 文字
        color: var.$black;
        font-size: 22px;
        padding: 2px 0;
        width: 150px;
        text-align: center;
        margin-right: 30px;
    }
    &__title {
        // 文字
        color: var.$white;
        font-size: 22px;
    }
}

// PCサイズ
@media screen and (max-width:1100px) {
    .p-news {
        margin: 0 20px;
        &__inner {
            width: calc(100% - 40px);
            margin: 0 auto 0px;
            // flex-box
            justify-content: center;
        }
    }
}
// tbサイズ
@media screen and (max-width:920px) {
    .p-news {
        margin: 0 auto;
        
        &__inner {
            width: calc(100% - 40px);
            margin: 0 auto;
            // flex-box
            display: flex;
            align-items: center;
        }
        &__up,
        &__down{
            // flex-box
            display: flex;
            justify-content: left;
            align-items: center;
        }
        &__down{
            margin-top: 5px;
        }
        &__list {
            margin-bottom: 17px;
            a{
                display: block;
                justify-content: left;
            }
        }
    }
}
// spサイズ
@media screen and (max-width:600px) {// 新着情報
    .p-news {
        padding: 60px 0;
        
        &__down{
            margin-top: 5px;
        }
        &__bg {
            margin-left: 5%;
            padding: 20px 30px;
        }
        &__content {
            padding: 40px 10px;
        }
        &__list {
            margin-bottom: 17px;
            a{
                display: block;
                justify-content: left;
            }
        }
        &__number {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            span{
                // 文字
                color: var.$white;
                font-size: 16px;
            }
        }
        &__date {
            // 文字
            color: var.$green-font;
            font-size: 16px;
            margin-right: 10px;
    
        }
        &__category {
            // 文字
            color: var.$black;
            font-size: 15px;
            width: 90px;
            margin-right: 10px;
        }
        &__title {
            // 文字
            font-size: 16px;
        }
    }
}
