@use "./variable" as var;

html{
    overflow-x: hidden;
    color: #fff;
    font-family: "Zen Maru Gothic", serif;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: block;
}

// 下層ページのセクション区切り
.page-section{
  max-width: 1000px;
  padding-top: 100px;
}
.page-section:first-child{
  padding-top: 0px;
}

// デバイスでのオンオフ
.pc-on{
  display: block;
}
.tb-on{
  display: none;
}
.sp-on{
  display: none;
}
@media screen and (max-width:920px) {
  .pc-on{
    display: none;
  }
  .tb-on{
    display: block;
  }
  .sp-on{
    display: none;
  }
}
@media screen and (max-width:600px) {
  .pc-on{
    display: none;
  }
  .tb-on{
    display: block;
  }
  .sp-on{
    display: block;
  }
}

// l-content
.l-content{
  position: relative;
  top: -130px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.l-content.top{
  align-items: flex-start;
}
// タブレットサイズ
@media screen and (max-width:920px) {
  .l-content{
    top: -80px;
  }
}
@media screen and (max-width:600px) {
  .l-content{
    top: -50px;
  }
}



// fv
.top-fv {
  width: 75%;
  height: fit-content;
}
// PCサイズ
@media screen and (max-width:1100px) {
  .top-fv {
    width: 84%;
  }
}
// タブレットサイズ
@media screen and (max-width:920px) {
  .top-fv {
    width: 100%;
  }
}

// c-sns
.c-sns {
  position: relative;
  top: 50%;
  transform: translateX(-50%);
  &__follow {
    font-size: 16px;
    margin: 0 auto;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }

  &__line {
    display: block;
    width: 2px;
    height: 15px;
    margin: 10px auto;
    background-color: var.$yellow;
  }

  &__instagram {
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }

  &__threads {
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }

  &__x {
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }

}

// top-title
.c-top-title {
  // 縦書き
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  letter-spacing: 3px;
  // 文字
  color: var.$blue;
  font-size: 26px;
  font-weight: bold;
}
// spサイズ
@media screen and (max-width:600px) {
  // top-title
  .c-top-title {
    // 縦書き
    letter-spacing: 2px;
    // 文字
    font-size: 18px;
  }
}


// character
.c-top-character {
  width: 112px;
  height: 282px;
  position: absolute;
  bottom: 0%;
  right: 20%;
  transform: translate(50%, 50%);
}
// pcサイズ
@media screen and (max-width:1400px) {
  .c-top-character {
    right: 10%;
  }
}
// tbサイズ
@media screen and (max-width:920px) {
  .c-top-character {
    margin: 20px auto;
    position: relative;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
  }
}
// spサイズ
@media screen and (max-width:600px) {
  .c-top-character {
    width: 62px;
    height: 156px;
  }
}
// ページタイトル
.c-page-title {
  max-width: 700px;
  padding-bottom: 20px;
  margin: 0px auto 50px;
  // 文字
  color: var.$black;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 2px var.$blue;
  // position
  position: relative;
  // キャラ
  img{
    width: 85px;
    height: 101px;
    // position
      position: absolute;
      bottom: 0%;
      left: 30%;
      transform: translate(0%, 0%);
  }

  .date{
    width: fit-content;
    display: block;
    font-size: 16px;
    margin: 10px 0 0 auto;
  }
}
// spサイズ
@media screen and (max-width:600px) {
  .c-page-title {
    padding: 0 0 20px;
    width: calc(100% - 65px);
    margin: 0px auto 40px;
    // 文字
    font-size: 20px;
    // キャラ
    img{
      width: 60px;
      height: 72px;
      // position
        left: 40%;
    }
  }
}
// spサイズ(450px以下)
@media screen and (max-width:450px) {
  .c-page-title {
    // キャラ
    img{
      // position
        left: 55%;
    }
  }
}

// ページタイトル電車ごと
.c-page-title.ltd-exp {
  max-width: 835px;
  padding-bottom: 20px;
  margin: 0px auto 50px 0;
  border-bottom: solid 2px var.$ltd-exp;
}
.c-page-title.jr-train {
  max-width: 835px;
  padding-bottom: 20px;
  margin: 0px auto 50px 0;
  border-bottom: solid 2px var.$jr-train;
}
.c-page-title.shitetsu {
  max-width: 835px;
  padding-bottom: 20px;
  margin: 0px auto 50px 0;
  border-bottom: solid 2px var.$shitetsu;
}
.c-page-title.wrapping {
  max-width: 835px;
  padding-bottom: 20px;
  margin: 0px auto 50px 0;
  border-bottom: solid 2px var.$wrapping;
}
.c-page-title.trains {
  padding-bottom: 20px;
  margin: 0px auto 50px;
}
.c-page-title.diary {
  margin-bottom: 00px;
  padding-bottom: 10px;
}
.c-page-title.single-train {
  max-width: 835px;
  padding-bottom: 20px;
  margin: 0px auto 50px 0;
}
// tbサイズ
@media screen and (max-width:920px) {
  .c-page-title.ltd-exp,
  .c-page-title.jr-train,
  .c-page-title.shitetsu,
  .c-page-title.wrapping,
  .c-page-title.single-train {
    margin: 0 auto 30px;
  }
}


// bgカテゴリー
.bg-ltd-exp{
  background-color: var.$ltd-exp;
}
.bg-jr-train{
  background-color: var.$jr-train;
}
.bg-shitetsu{
  background-color: var.$shitetsu;
}
.bg-wrapping{
  background-color: var.$wrapping;
}
.bg-diary{
  background-color: var.$blue;
}

// fontカテゴリー
.fo-ltd-exp{
  color: var.$ltd-exp;
}
.fo-jr-train{
  color: var.$jr-train;
}
.fo-shitetsu{
  color: var.$shitetsu;
}
.fo-wrapping{
  color: var.$wrapping;
}
.fo-diary{
  color: var.$blue;
}


// 下層ページ
.page-content{
  padding: 0 20px;
  margin: 150px 10% 0 auto;
}
// pcサイズ
@media screen and (max-width:1100px) {
  .page-content{
    width: calc(84% - 40px);
    margin: 150px 3% 0 auto;
  }
}
// tbサイズ
@media screen and (max-width:920px) {
  .page-content{
    margin: 100px auto 0;
    width: calc(100% - 0px);
  }
  .p-diary.page-content{
    padding: 0;
  }
}

// pager
.c-pager {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__number {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: solid 1px var.$green-bg;
    background-color: var.$green-bg;
    
    // 位置調整
    position: relative;
  
    span{
      color: var.$white;
      font-size: 26px;
      font-weight: bold;
  
      // 位置調整
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    img{
      width: 36px;
      height: 27px;
  
      // 位置調整
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  }
  &__number:not(:last-child) {
      margin-right: 10px;
  }
  &__number:hover{
    background-color: var.$white;
    transition: all 0.3s;
  
    span{
      color: var.$green-font;
    }
  }
}

.c-pager__number.nobg{
  background-color: #fff;
  border: none;
}

// spサイズ
@media screen and (max-width:600px) {
  
// pager
.c-pager {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__number {
    width: 40px;
    height: 40px;
    
  
    span{
      font-size: 18px;
    }

    img{
      width: 27px;
      height: 21px;
    }
  
  }
}
}
